@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/*--- TOP SECTION STYLES ---*/
h1{
    color: rgb(17, 17, 88);
    font-size: 3rem;
}
.name{
    color:red;
    font-size: 3rem;
}
.firstside{
    margin-top: 5rem;
    width: 40%;
    height: 30rem;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    margin-bottom: 5rem;
}
.btn{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 81, 0), rgb(255, 38, 0));
    text-decoration: none;
    background-color: orange;
    padding: .5rem .5rem;
    border-radius: .5rem;
}
.main-nav{
    margin-top: 2rem;
    padding-right: 10rem;
    float: right;
}
ul li{
    display: inline-block;
}
li a{
    font-weight: 700;
    padding: 2rem;
    color: black;
    text-decoration: none;
}
.abouttext{
    font-size: 2.5rem;
    color: rgb(17, 17, 88);
}
.btn2{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 81, 0), rgb(255, 38, 0));
    text-decoration: none;
    background-color: orange;
    padding: 1rem 1rem;
    border-radius: .5rem;
}
.firstside2{
    padding-top: 2rem;
    margin-top: 5rem;
    width: 30%;
    height: 30rem;
    margin-left: 1%;
    padding-left: 2%;
    float: left;

}
.first{
    background: white;
    text-align: center;
    padding: 2rem;
    width: 25rem;
    box-shadow: 10px 10px 40px gray;
    border-radius: 1rem;
}
.test{
    padding-top: 2rem;
    letter-spacing: 1rem;
    text-align: center;
    color: rgb(17, 17, 88);
    font-size: 1rem;
    clear:both;
}
.lastet{
    color:orange;
}
.monster{
    clear: both;
    background: rgba(226, 225, 225, 0.774);
    height: 50rem;
}
/*---- STYLES OF LAST SECTION ----*/

.firstside3{
    margin-top: 5rem;
    width: 40%;
    height: 30rem;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    margin-bottom: 0;
}
.shesh{
    margin-top: 5rem;
    padding-left: 20rem;
    text-align: center;
    background-image: url(resources/img/box.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 20rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
}
.workin{
    font-weight: 400;
    font-size: 4rem;
    color: white;
}
.btn3{
    float: left;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 81, 0), rgb(255, 38, 0));
    text-decoration: none;
    background-color: orange;
    padding: 1rem 1rem;
    border-radius: .5rem;
}
footer h3, h4{
    clear: both;
    text-align: center;
    font-size: 1.5rem;
}
.firstside4{
    clear: both;
    margin-left: 12rem;
    padding-left: 12rem;
    display: inline;
}
/*--- STYLES OF ADDTIONAL SECTION ---*/
.addtional{
    text-align: center;
    width: 100%;
    margin-top: 0;
    height: 50rem;
    background:rgb(252, 165, 116)
}
.add h2{
    padding-top: 2rem;
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
    color: rgb(17, 17, 88);
}
.add p{
    text-align: center;
    text-transform: capitalize;
    text-justify: auto;
}
.firstbox{
    width: 20%;
    margin-right: 0;
    margin-left: 42rem;
    background: white;
    border: .4rem solid white;
    padding: 5rem;
    margin-top: 10rem;
    box-shadow: 10px 10px 40px gray;
    border-image: linear-gradient(rgb(122, 180, 255), rgb(74, 71, 255));
    border-image-slice: 1;
    border-radius: 1rem;
    height: 12rem;
}
.boxbtn{
    padding-top: .5rem;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 81, 0), rgb(255, 38, 0));
    text-decoration: none;
    background-color: orange;
    padding: .5rem 1rem;
    border-radius: .5rem;
}
/* END OF STYLES */